<template data-template="login-template">

    <article class="shadow  ">
        <h3 class="flex center text-primary">{{translate['login']}}</h3>
        <form data-action="loginFetch">
            <div class="mt-2">
                <i class="icon icon-email"></i>
                <input type="email" name="email" data-model="email" placeholder="Email" required />

            </div>
            <div class="mt-2">
                <i class="icon icon-lock"></i>
                <input type="password" name="password" data-model="password" placeholder="{{translate['password']}}"
                    required />

            </div>
            <button type="submit" class="w-full btn-fill text-dark"><i class="icon icon-login"></i>{{translate['login']}}</button>
        </form>
        <div class="mt-4">
            <p>
                Email Data Bind: <span data-bind="email"></span>

            </p>

            <p>
                Password Data Bind: <span data-bind="password"></span>

            </p>
        </div>
        <footer class="flex center gap-1 mt-4">
        
                <button class="fill">
                    <i class="icon icon-check-circle"></i>
                    <a href="/register" data-link class=" flex center ">
                  
                      {{translate['register']}}
                    </a>
                </button>
 
        </footer>
    </article>
    <div data-component="Footer"></div> <!-- auth/footer.html component  -->

</template>

<script>
    const submitLogin = async ({ state, event }) => {
        event.preventDefault();
        const data = { email: state.email, password: state.password };
        alert('Login: ' + JSON.stringify(data));
    };

    App.createComponent('Login', {
        template: 'login-template',
        state: () => ({
            email: '',
            password: ''
        }),
        actions: {
            loginFetch: submitLogin
        }
    });

    App.addRoute('/login', 'Login');
    App.addRoute('*', 'Login');

</script>