<!DOCTYPE html>
<html lang="{{lang}}">

<head>
    {% include 'includes/head.html' with context %}
    <script src="/public/js/register.js"></script>
</head>

<body class="light">

    <main class=" container  flex justify-center">
        <article class="bg-white  border   mx-sm mt-4 col card">
            <div class="row">
                <div class="max  flex justify-center">
                    <h5 class="text-{{theme}} uppercase  small  ">
                        {{ translate['Register'] }}
                    </h5>
                </div>
            </div>

            <div class="mt-2">
                <form onsubmit="Register(event);">
                    <div class="field label border prefix mb-3">
                        <i>account_circle</i>
                        <input type="text" name="name" required  min="2" max="50"/>
                        <label>{{translate['Name']}}</label>
                    </div>
                    <div class="field label border prefix mb-3">
                        <i>email</i>
                        <input type="email" name="email" required />
                        <label>{{translate['Email']}}</label>
                    </div>

                    <div class="field label border prefix mb-3">
                        <i>password</i>
                        <input type="password" name="password" required id="password" />
                        <label>
                            {{ translate['Password'] }}
                        </label>
                    </div>
                    <div class="field label border prefix mb-3">
                        <i>password</i>
                        <input type="password" name="password_2" required id="password_2" />
                        <label>
                            {{ translate['Repeat your password'] }}
                        </label>

                    </div>
                    
                    <div class="mt-1">
                        <button type="submit" class="responsive  ">
                            {{ translate['Send'] }}
                        </button>
                    </div>

                    <div class="responsive ">
                        <div class="mt-1 flex justify-center">
                            <a href="/login" class="link underline">
                                {{ translate['Login'] }}
                            </a>
                        </div>
                         
                    </div>
                </form>
            </div>
        </article>
    </main>

    {% include 'includes/footer.html' with context %}

</body>

</html>