<!DOCTYPE html>
<html lang="{{lang}}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="color-scheme" content="light dark">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="icon" type="image/x-icon" href="/public/img/Lila.webp" /> 
  <!--CSS-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
  <link rel="stylesheet" type="text/css" href="/public/css/styles.css" />
  <!--CSS-->

  <!-- JS-->
    <script src="/public/js/utils_example.js"></script>

  <!--JS -->
    <style>
        .flex {
      display: flex;
    }

    .justify-center {
      justify-content: center;
    }

    .justify-between {
      justify-content: space-between;
    }

    .items-center {
      align-items: center;
    }
    </style>
</head>

<body>
   
 
  <main class="container mt-sm   ">
  <div class="flex justify-center">
    <article >
      <h5>
        {{translate['Welcome to the Lila Framework']}}
      </h5>
      <p> {{translate['Hi']}}! </p>
      <p>
        {{translate["documentation"]}}
        <a href="https://seip25.github.io/Lila/" class="link underline" target="_blank"> link</a>
      </p>
      
    </article>
  </div>
  </main>

  <footer class="container  ">
    <div class="flex justify-between items-center">
      <a href="/set-language/es" class="underline left-align   small">Español(Esp)</a>
      <a href="/set-language/en" class="underline left-align   small">English(US)</a>
    </div>
  </footer>
</body>

</html>