<!DOCTYPE html>
<html lang="{{lang}}" data-theme="light">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="color-scheme" content="light dark">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="icon" type="image/x-icon" href="/public/img/lila.png" />
  <!--CSS--> 
   <link rel="stylesheet" type="text/css" href="/public/css/lila.css" />
  <!--CSS-->

  <!-- JS-->
  <script src="/public/js/utils_example.js"></script>

  <!--JS -->
</head>

<body>
  <header class="container">
    <nav> <a href="/auth" class="underline-none">{{translate['login']}}</a>
      <a href="/auth#/register" class="underline-none">{{translate['register']}}</a>

    </nav>
  </header>

  <main class="container     ">
    <div class="flex  center">
      <article>
        <h5>
          <div style="display: inline-flex; align-items: center;">
            <img src="/public/img/lila.png" alt="Lila logo" class="img-responsive" width="10%" height="10%" />
            <span> {{translate['Welcome to the Lila Framework']}}</span>
          </div>

        </h5>
        <p> {{translate['Hi']}}! </p>

        <p>
          {{translate['Go to docs']}} <a href="/docs">docs</a>, {{translate['view_api_docs']}}
        </p>

        <p>
          {{translate['go_to_markdown']}} <a href="/markdown">Markdown</a>, {{translate['view_markdown_example']}}
        </p>

        <p>
        <h5>
          {{translate['also_left_in']}} <code>routes/api.py</code> {{translate['and_in']}}
          <code>routes/routes.py</code>,
          {{translate['examples_of_how_to_use']}} {{translate['routes_queries_crud']}}
          ({{translate['crud_with_30_lines']}}, {{translate['with_middlewares_validations']}},
          {{translate['and_more']}}!)
        </h5>
        </p>

        <p>
          {{translate["documentation"]}}
          <a href="https://seip25.github.io/Lila/documentation.html#" class="link underline" target="_blank"> link</a>
        </p>
        <p>

        <div class=" grid">
          <div class="container">

            <ul>
              <li>
                <h6>English</h6>
              </li>
              <li><a href="https://seip25.github.io/Lila/documentation.html#install-eng"
                  target="_blank">Installation</a></li>
              <li><a href="https://seip25.github.io/Lila/documentation.html#routes-eng" target="_blank">Routes</a></li>
              <li><a href="https://seip25.github.io/Lila/documentation.html#static-eng" target="_blank">Static</a></li>
              <li><a href="https://seip25.github.io/Lila/documentation.html#templates-eng" target="_blank">Templates</a>
              </li>
              <li><a href="https://seip25.github.io/Lila/documentation.html#upload-eng">Uploads Files</a></li>
              <li><a href="https://seip25.github.io/Lila/documentation.html#markdown-eng"
                  target="_blank">Markdown/HTML</a></li>
              <li><a href="https://seip25.github.io/Lila/documentation.html#locales-eng"
                  target="_blank">Internationalization
                  (Translations)</a></li>
              <li><a href="https://seip25.github.io/Lila/documentation.html#models-eng" target="_blank">Models</a></li>
              <li><a href="https://seip25.github.io/Lila/documentation.html#middlewares-eng"
                  target="_blank">Middlewares</a></li>
              <li><a href="https://seip25.github.io/Lila/documentation.html#connections-eng"
                  target="_blank">Connections</a></li>
              <li><a href="https://seip25.github.io/Lila/documentation.html#migrations-eng"
                  target="_blank">Migrations</a></li>
              <li><a href="https://seip25.github.io/Lila/documentation.html#rest_api_crud-eng" target="_blank">API Rest
                  crud generate</a>
              </li>
              <li><a href="https://seip25.github.io/Lila/documentation.html#admin-panel-eng" target="_blank">Admin
                  Panel</a></li>

            </ul>
          </div>

          <div class="container">

            <ul>
              <li>
                <h6>Español</h6>
              </li>
              <li><a href="https://seip25.github.io/Lila/esp/documentation.html#install-esp"
                  target="_blank">Instalación</a></li>
              <li><a href="https://seip25.github.io/Lila/esp/documentation.html#routes-esp" target="_blank">Rutas</a>
              </li>
              <li><a href="https://seip25.github.io/Lila/esp/documentation.html#static-esp" target="_blank">Archivos
                  estáticos</a></li>
              <li><a href="https://seip25.github.io/Lila/esp/documentation.html#templates-esp"
                  target="_blank">Templates</a></li>
              <li><a href="https://seip25.github.io/Lila/documentation.html#upload-esp">Uploads de archivos</a></li>

              <li><a href="https://seip25.github.io/Lila/esp/documentation.html#markdown-esp"
                  target="_blank">Markdown/HTML</a></li>
              <li><a href="https://seip25.github.io/Lila/esp/documentation.html#locales-esp"
                  target="_blank">Internalización
                  (Traducciones)</a></li>
              <li><a href="https://seip25.github.io/Lila/esp/documentation.html#models-esp" target="_blank">Modelos</a>
              </li>
              <li><a href="https://seip25.github.io/Lila/esp/documentation.html#middlewares-esp"
                  target="_blank">Middlewares</a></li>
              <li><a href="https://seip25.github.io/Lila/esp/documentation.html#connections-esp"
                  target="_blank">Connections</a></li>
              <li><a href="https://seip25.github.io/Lila/esp/documentation.html#migrations-esp"
                  target="_blank">Migraciones</a></li>
              <li><a href="https://seip25.github.io/Lila/esp/documentation.html#rest_api_crud-esp"
                  target="_blank">Generación sencilla de CRUD
                  de API Rest</a></li>
              <li><a href="https://seip25.github.io/Lila/esp/documentation.html#admin-panel-esp" target="_blank">Panel
                  de Admin</a></li>

            </ul>
          </div>
        </div>
        </p>
        <footer>
          <p>{{translate['Lila Js Documentation (Reactive Templates with Vanilla Js Javascript)']}}
            <a href="https://seip25.github.io/Lila_js/" target="_blank">link</a>

          </p>
          <p>Material Lite Desing (Lila CSS)
            <a href="https://seip25.github.io/material-lite-design" target="_blank">link</a>

          </p>
         
        </footer>
      </article>
    </div>
  </main>

  <footer class="container  ">
    <div class="flex  between items-center">
      <a href="/set-language/es" class="underline-none left-align text-secondary  small">Español(Esp)</a>
      <a href="/set-language/en" class="underline-none left-align  text-secondary  small">English(US)</a>
    </div>
  </footer>
</body>

</html>