/* --- Colores --- */
:root,
body.light {
  --primary: #10b981;
  --on-primary: #ffffff;
  --primary-container: #d1fae5;
  --on-primary-container: #022c1b;
  --secondary: #059669;
  --on-secondary: #ffffff;
  --secondary-container: #bbf7d0;
  --on-secondary-container: #013422;
  --tertiary: #34d399;
  --on-tertiary: #ffffff;
  --tertiary-container: #d2f8e4;
  --on-tertiary-container: #023824;
  --error: #ef4444;
  --on-error: #ffffff;
  --error-container: #fee2e2;
  --on-error-container: #440101;
  --background: #ecfdf5;
  --on-background: #0b3727;
  --surface: #e6f7f0;
  --on-surface: #0b3727;
  --surface-variant: #cce5dd;
  --on-surface-variant: #26453b;
  --outline: #4d8f75;
  --outline-variant: #9fcab6;
  --shadow: #000000;
  --scrim: #000000;
  --inverse-surface: #123927;
  --inverse-on-surface: #daf2e8;
  --inverse-primary: #a3f7c3;
  --surface-dim: #e1f4ed;
  --surface-bright: #f0fdf7;
  --surface-container-lowest: #f7fef9;
  --surface-container-low: #ebf7f0;
  --surface-container: #dbf2e8;
  --surface-container-high: #c9ebdd;
  --surface-container-highest: #b8e5d2;
}

body.dark {
  --primary: #34d399;
  --on-primary: #00311c;
  --primary-container: #045c34;
  --on-primary-container: #d1fae5;
  --secondary: #22c55e;
  --on-secondary: #003317;
  --secondary-container: #066e30;
  --on-secondary-container: #bbf7d0;
  --tertiary: #6ee7b7;
  --on-tertiary: #003823;
  --tertiary-container: #04593e;
  --on-tertiary-container: #d2f8e4;
  --error: #f87171;
  --on-error: #5a0000;
  --error-container: #8c0000;
  --on-error-container: #ffe4e4;
  --background: #0b3727;
  --on-background: #d7f2e7;
  --surface: #052116;
  --on-surface: #d7f2e7;
  --surface-variant: #26453b;
  --on-surface-variant: #9fcab6;
  --outline: #5f9f89;
  --outline-variant: #26453b;
  --shadow: #000000;
  --scrim: #000000;
  --inverse-surface: #daf2e8;
  --inverse-on-surface: #123927;
  --inverse-primary: #10b981;
  --surface-dim: #041b11;
  --surface-bright: #19392e;
  --surface-container-lowest: #02110a;
  --surface-container-low: #0a2417;
  --surface-container: #112e20;
  --surface-container-high: #173827;
  --surface-container-highest: #1e412f;
}
