/* --- Colores --- */
:root,
body.light {
--primary:#6f43c0;
--on-primary:#ffffff;
--primary-container:#ebddff;
--on-primary-container:#250059;
--secondary:#635b70;
--on-secondary:#ffffff;
--secondary-container:#e9def8;
--on-secondary-container:#1f182b;
--tertiary:#7e525d;
--on-tertiary:#ffffff;
--tertiary-container:#ffd9e1;
--on-tertiary-container:#31101b;
--error:#ba1a1a;
--on-error:#ffffff;
--error-container:#ffdad6;
--on-error-container:#410002;
--background:#fffbff;
--on-background:#1d1b1e;
--surface:#fef8fd;
--on-surface:#1d1b1e;
--surface-variant:#e7e0eb;
--on-surface-variant:#49454e;
--outline:#7a757f;
--outline-variant:#cbc4cf;
--shadow:#000000;
--scrim:#000000;
--inverse-surface:#323033;
--inverse-on-surface:#f5eff4;
--inverse-primary:#d3bbff;
--surface-dim:#ded8dd;
--surface-bright:#fef8fd;
--surface-container-lowest:#ffffff;
--surface-container-low:#f8f2f7;
--surface-container:#f2ecf1;
--surface-container-high:#ece6eb;
--surface-container-highest:#e6e1e6;
}

body.dark{
    --primary:#d3bbff;
--on-primary:#3f008d;
--primary-container:#5727a6;
--on-primary-container:#ebddff;
--secondary:#cdc2db;
--on-secondary:#342d40;
--secondary-container:#4b4358;
--on-secondary-container:#e9def8;
--tertiary:#f0b7c5;
--on-tertiary:#4a2530;
--tertiary-container:#643b46;
--on-tertiary-container:#ffd9e1;
--error:#ffb4ab;
--on-error:#690005;
--error-container:#93000a;
--on-error-container:#ffb4ab;
--background:#1d1b1e;
--on-background:#e6e1e6;
--surface:#141316;
--on-surface:#e6e1e6;
--surface-variant:#49454e;
--on-surface-variant:#cbc4cf;
--outline:#948f99;
--outline-variant:#49454e;
--shadow:#000000;
--scrim:#000000;
--inverse-surface:#e6e1e6;
--inverse-on-surface:#323033;
--inverse-primary:#6f43c0;
--surface-dim:#141316;
--surface-bright:#3b383c;
--surface-container-lowest:#0f0e11;
--surface-container-low:#1d1b1e;
--surface-container:#211f22;
--surface-container-high:#2b292d;
--surface-container-highest:#363438;
}