

/* --- Colores --- */
:root,
body.light {
--primary:#f9e534;
--on-primary:#ffffff;
--primary-container:#f9e534;
--on-primary-container:#201c00;
--secondary:#645f41;
--on-secondary:#ffffff;
--secondary-container:#ebe3bd;
--on-secondary-container:#1f1c05;
--tertiary:#406652;
--on-tertiary:#ffffff;
--tertiary-container:#c2ecd3;
--on-tertiary-container:#002113;
--error:#ba1a1a;
--on-error:#ffffff;
--error-container:#ffdad6;
--on-error-container:#410002;
--background:#fffbff;
--on-background:#1d1c16;
--surface:#fef9f0;
--on-surface:#1d1c16;
--surface-variant:#e8e2d0;
--on-surface-variant:#4a473a;
--outline:#7b7768;
--outline-variant:#cbc6b5;
--shadow:#000000;
--scrim:#000000;
--inverse-surface:#32302a;
--inverse-on-surface:#f5f0e7;
--inverse-primary:#dbc90a;
--surface-dim:#dedad1;
--surface-bright:#fef9f0;
--surface-container-lowest:#ffffff;
--surface-container-low:#f8f3ea;
--surface-container:#f2ede4;
--surface-container-high:#ece8df;
--surface-container-highest:#e7e2d9;

}

body.dark {
    --primary:#dbc90a;
    --on-primary:#363100;
    --primary-container:#4f4800;
    --on-primary-container:#f9e534;
    --secondary:#cec7a3;
    --on-secondary:#343117;
    --secondary-container:#4b472b;
    --on-secondary-container:#ebe3bd;
    --tertiary:#a7d0b7;
    --on-tertiary:#103726;
    --tertiary-container:#294e3b;
    --on-tertiary-container:#c2ecd3;
    --error:#ffb4ab;
    --on-error:#690005;
    --error-container:#93000a;
    --on-error-container:#ffb4ab;
    --background:#1d1c16;
    --on-background:#e7e2d9;
    --surface:#14130e;
    --on-surface:#e7e2d9;
    --surface-variant:#4a473a;
    --on-surface-variant:#cbc6b5;
    --outline:#959181;
    --outline-variant:#4a473a;
    --shadow:#000000;
    --scrim:#000000;
    --inverse-surface:#e7e2d9;
    --inverse-on-surface:#32302a;
    --inverse-primary:#695f00;
    --surface-dim:#14130e;
    --surface-bright:#3b3933;
    --surface-container-lowest:#0f0e09;
    --surface-container-low:#1d1c16;
    --surface-container:#21201a;
    --surface-container-high:#2b2a24;
    --surface-container-highest:#36352f;
}