<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/img/lila.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - {{ model_name.capitalize() }}</title>
    <link rel="stylesheet" href="../css/lila.css" />
</head>

<body class="bg-surface">
    <main>
        {{ menu | safe }}

        <div class="flex-1">
            <header class="flex items-center justify-between mb-4 bg-background p-4 rounded-lg shadow-sm">
                      <h2 class="m-0 text-xl font-bold">{{ model_name.capitalize() }}</h2>
            </header>

            <article>
                <div id="table"></div>
            </article>
        </div>
    </main>

    <script src="../js/utils.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const dataTable = new ResponsiveDataTable('table', {
                data: {{ items_json | safe }},
                columns: [
                    {% for header in headers %}
                        {
                            title: "{{ header.capitalize() }}",
                            key: "{{ header }}"
                        }
                        {% if not loop.last %}
                            ,
                        {% endif %}
                    {% endfor %}
                ],
                rowsPerPage: 10,
                search: true,
                pagination: true,
                responsive: true,
                headerTitles: {
                    "id": "ID"
                },
                summaryFields: ['id']
            });
        });
    </script>
</body>

</html>
