<!DOCTYPE html>
<html lang="{{lang}}" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} </title>
    <link rel="stylesheet" href="/css/lila.css">
    <script src="/js/utils.js"></script>
    {{hot_reload() | safe}}
</head>

<body>
    <header>
        <nav class="container">
            <h3>
                <a href="/dashboard" class="text-indigo-500 font-bold">Lila</a>
            </h3>
        </nav>

    </header>
    <main>
        <aside>
            <h3>Menu</h3>
            <a href="/dashboard" class="active">{{translate['home']}}</a>
            <a href="/profile">{{user.name}}</a>
            <a href="/set-language/es">Español (Esp)</a>
            <a href="/set-language/en">English (US)</a>
            <a href="/logout">{{translate['logout']}}</a>
        </aside>
        <article>
            <h3 class="text-xl">{{translate['Welcome']}}, {{user.name}}!</h3>
        </article>
    </main>

</body>

</html>