<!DOCTYPE html>
<html lang="{{lang}}" data-theme="light">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} </title>
    <link rel="stylesheet" href="/css/lila.css">
    <script src="/js/utils.js"></script>
</head>

<body>
    <header class=" py-4">
        <nav class="container">
            <h3>
                <a href="/dashboard" class="text-indigo-500 font-bold">Lila</a>
            </h3>
        </nav>

    </header>
    <main class="container mt-4">
        <aside>
            <a href="/dashboard" class="">{{translate['home']}}</a>
            <a href="/profile">{{user.name}}</a>
            <a href="/set-language/es" class="dropdown-item">Español (Esp)</a>
            <a href="/set-language/en" class="dropdown-item">English (US)</a>
            <a href="/logout" class="dropdown-item">{{translate['logout']}}</a>
        </aside>
        <div class="container mt-4">
            <h3 class="text-xl">{{translate['Welcome']}}, {{user.name}}!</h3>
        </div>
    </main>

</body>

</html>