{% extends layout | default('lila/base.html') %}
{% block title %}{{translate['Invalid or expired token']}}{% endblock %}

{% block content %}
<main class="flex justify-center items-center container">
    <article class="w-mx-500-px text-center">
      <h3 class="text-red-500 mb-4">{{translate['Invalid or expired token']}}</h3>
      <p>{{translate['Your password reset link is invalid or has expired.']}}</p>
      <div class="mt-4">
        <a href="/forgot-password" role="button">{{translate['Request new password reset
          link']}}</a>
      </div>
      </div>
  </main>
  <div class="container mx-auto px-4 flex justify-between items-center">
    <a href="?lang=es" role="button" class="fill">
      Español (Esp)
    </a>
    <a href="?lang=en" role="button" class="fill">
      English (US)
    </a>
  </div>
  </div>
{% endblock %}
