<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
    <meta charset=UTF-8>
    <link rel=icon type=image href=/public/img/lila.png alt="Admin Lila Framework">
    <meta name=viewport content="width=device-width, initial-scale=1.0">
    <title>Admin - {{ model_name.capitalize() }}</title>
    <link rel="stylesheet" href="/public/css/lila.css" />
    <script src=/public/js/utils.js></script>
</head>

<body  >
    {{ menu | safe }}
    <main class="bg-surface">
        <div class="container">
            <article >
            <h2 class="text-indigo-500 text-center">
                {{ model_name.capitalize() }}
            </h2>
            <div id="table"></div>
        </article>
        </div>
    </main>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const dataTable = new ResponsiveDataTable('table', {
                data: {{ items_json | safe }},
                columns: [
                    {% for header in headers %}
                        {
                            title: "{{ header.capitalize() }}",
                            key: "{{ header }}"
                        }
                        {% if not loop.last %}
                            ,
                        {% endif %}
                    {% endfor %}
                ],
                rowsPerPage: 5,
                search: true,
                pagination: true,
                responsive: true,
                headerTitles: {
                    "id": "ID"
                },
                summaryFields: ['id']
            });
        });
    </script>
</body>

</html>