<!DOCTYPE html>
<html lang="{{lang}}">

<head>
    {% include 'includes/head.html' with context %}
    <script src="/public/js/login.js"></script>
</head>

<body class="light">

    <main class=" container  flex justify-center">
        <article class="bg-white  border   mx-sm mt-4 col card">
            <div class="row">
                <div class="max  flex justify-center">
                    <h5 class="text-{{theme}} uppercase  small  ">
                        {{ translate['Login'] }}
                    </h5>
                </div>
            </div>

            <div class="mt-2">
                <form onsubmit="Login(event);">
                    <div class="field label border prefix mb-3">
                        <i>email</i>
                        <input type="email" name="email" required />
                        <label>{{translate['Email']}}</label>
                    </div>

                    <div class="field label border prefix mb-3">
                        <i>password</i>
                        <input type="password" name="password" required id="password" />
                        <label>
                            {{ translate['Password'] }}
                        </label>

                    </div>
                    <div class="mt-2 flex justify-start">
                        <div>
                            <label class="switch">
                                <input type="checkbox" checked="on" />
                                <span></span>
                                &nbsp;
                                {{ translate['Remember me'] }}
                            </label>
                        </div>
                    </div>

                    <div class="mt-2">
                        <button type="submit" class="responsive  ">

                            {{ translate['Send'] }}
                        </button>
                    </div>

                    <div class="responsive ">
                        <div class="mt-1 flex justify-center">
                            <a href="/register" class="link underline">
                                {{ translate['Register'] }}
                            </a>
                        </div>
                        <div class="mt-1 flex justify-center">
                            <a href="/password" class="link underline">
                                {{ translate['Forgot your password?'] }}
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </article>
    </main>

    {% include 'includes/footer.html' with context %}

</body>

</html>